@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* styles */

:root {
  --main-color: rgb(240, 119, 86);
  --darker-color: rgb(212, 105, 75);
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--darker-color);
}
form {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: var(--main-color);
  padding: 25px;
}
/* form > * {
  margin-bottom: 10px;
} */

form::before {
  position: absolute;
  bottom: -18px;
  right: 7px;
  content: "Assignment day 8 of 10 . Linojung";
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
input {
  font-family: "Roboto", sans-serif;
}

input[type="number"] {
  width: 100px;
  max-width: 200px;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: 10px;
}

input[type="number"]::placeholder {
  font-size: inherit;
}

input[type="number"]:focus {
  outline: none;
}

.main-inputs {
}

.main-inputs > div {
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: 1px solid #fff;
  padding: 5px 14px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: black;
}
button:focus {
  background-color: rgb(255, 71, 71);
}
#playBtn {
  margin-left: 10px;
}

#playBtn:disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}

h2 {
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 34px;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.lose {
}

#result {
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 15px;
  background-color: rgba(255, 255, 255, 0.05);
}

.result__number p {
  margin-bottom: 10px;
}

.result__game {
  margin-top: 20px;
  line-height: 3;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);

  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}

#restart {
  float: right;
}
